<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>

<div th:fragment="left">
    <div class="qz-lift layui-hide-xs">
        <div>
            <i class="am-icon-quote-left"></i>
            <div class="qz-gonggao">
                <p>收藏你的记忆，</p>
                <p>如珍宝般深藏心底。</p>
                <p>时光荏苒流转，思念延绵不绝。</p>
                <p>记忆中的温暖，化作前行的力量。</p>
                <p>陪伴我走过的风雨，</p>
                <p>永恒的珍藏。</p>
                <p class="qz-name">--- 智谱清言</p>
                <p class="last">这是我们共同的时代</p>
            </div>
            <i class="am-icon-quote-right"></i>
        </div>
        <div>
            <i class="am-icon-quote-left"></i>
            <div class="qz-gonggao qz-xinxi">
                <p>白日依山尽，</p>
                <p>黄河入海流。</p>
                <p>欲穷千里目，</p>
                <p>更上一层楼。</p>
            </div>
            <i class="am-icon-quote-right"></i>
        </div>
    </div>
</div>

</body>
</html>